.scroll-container {
  height: 100vh;
  background: #3d3d3d;
}

.speak {
  margin: 150vh 0;
}
.speak:first-child {
  margin-top: -50vh;
}

.speak[data-scroll] {
  transform: translatey(calc(var(--viewport-y) * 30vh));
  opacity: calc(var(--visible-y));
}

.scroll-sequence__content {
  padding: 4em;
}

.scroll-sequence {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
  height: 100vh;
  background: #3d3d3d;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

h1 {
  font-size: 3em;
  width: 60wv;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
    width: 100%;
  }
}

:root {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}